<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Personal blog of codevelop">
      <meta name="author" content="codevelop">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <title>{{ page.title }}</title>
   </head>
   
   <body>
      <main>
         <header>
            <h1 class="title"><img src="https://cloud.githubusercontent.com/assets/5035902/4195340/a472f8b0-37bd-11e4-9053-1ad99ef4260e.png"><a href="/">Codevelop</a></h1>
         </header>

         {{ content }}
      </main>
   </body>
</html>
