<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="author" content="codevelop">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <title>{{ page.title }}</title>
   </head>
   
   <body>
      <main>
         <header>
            <h1 class="title"><a href="/">Minwoo Jung</a><h3>About me</h3></h1> 
         </header>

         {{ content }}
      </main>
   </body>
</html>
